{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Votre profil
{% endblock %}



{% block body %} 
<style> .page-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% de la hauteur de la fenêtre visible */
}
</style>
 <div class="page-content bg-dark">
    <div class="py-3 row"></div>
      <div class="row py-5 d-flex justify-content-start">
        <div class="col-8 d-flex justify-content-center">
          <div class="row">
            <div class="fs-2 pb-3 fw-bold text-white">Vos informations<a href="{{path('modifinfos', {'id': app.user.id})}}" class="nav-link text-decoration-none float-end">🖋</a></div><br>
            <hr class="bg-white my-1">
            <div class="fs-5 pt-3 pb-5" style="color:#808080;">
              <div class='text-white pb-2' style="text-transform:none;">Nom : <a class="fs-5 text-decoration-none" style="color:#909090;">{{app.user.nom|capitalize}}</a></div> 
              <div class='text-white pt-2 pb-2' style="text-transform:none;">Prenom :  <a class="fs-5 text-decoration-none" style="color:#909090;">{{app.user.prenom|capitalize}}</a></div>
              <div class='text-white pt-2 pb-2' style="text-transform:none;">Email :  <a class="fs-5 text-decoration-none" style="color:#909090;">{{app.user.email}}</a></div>
              <div class='text-white pt-2 pb-2' style="text-transform:none;">Adresse :  <a class="fs-5 text-decoration-none" style="color:#909090;">{{app.user.adresse}}</a></div>
              <div class='text-white pt-2 pb-2' style="text-transform:none;">Ville :  <a class="fs-5 text-decoration-none" style="color:#909090;">{{app.user.ville}}</a></div>
              <div class='text-white pt-2 pb-2' style="text-transform:none;">Code postal :  <a class="fs-5 text-decoration-none" style="color:#909090;">{{app.user.cp}}</a></div>
             
            </div>
          </div>
        </div>
          <div class="col-4">
              {% if 'ROLE_ADMIN' in app.user.roles %}
                  <div class="fs-2 fw-bold text-white">Vos fonctions d'administrateur</div><br>
                  <div class="row">
                    <div class="col py-3 px-5">
                      <!--<img src="images/icones/tools.svg" style="width:50px; heigth:50px;">-->
                      <a class="message text-white px-2 fs-4" href="{{path('listeusers')}}">Gestion des utilisateurs</a>
                    </div>
                  </div>
              {% endif %}
              
              {% if 'ROLE_REDACTEUR' in app.user.roles %}
                  <div class="fs-2 fw-bold text-white">Vos fonctions de redacteur</div><br>
                  <div class="row">
                    <div class="col py-3 px-5">
                      <!--<img src="images/icones/tools.svg" style="width:50px; heigth:50px;">-->
                      <a class="message text-white px-2 fs-4">gfs</a>
                    </div>
                  </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}